<section class="section-sobremi" id="sobre-mi">
  <h2>Sobre mí</h2>

  <div class="sobremi-container">

    <div class="sobremi-tarjeta" (click)="toggleCard($event)">
      <h3 class="letra-subtitulos">¿Quién soy?</h3>
      <p class="mensaje-click">Haz clic para ver más</p>
      <div class="contenido-oculto">
        <p>
          Mi nombre es Jose Manuel Cipagauta Toro. Tengo 19 años y nací el 30 de abril del 2006 en Bogotá, en la
          Clínica Mater SaludCoop. Actualmente vivo en el barrio Britalia Norte.

          Sobre mi formación, hice la primaria en el jardín Paticos del Mar y de ahí pasé al Colegio Divino Salvador,
          ubicado cerca de la Clínica La Colina; allí estudié durante 11 años, desde primero hasta once, y me gradué
          en el 2024.

          En cuanto a mi vida personal, vivo con mis papás, mi hermana menor y mis dos abuelos maternos. Actualmente,
          divido mi tiempo entre mis estudios en la Universidad El Bosque y mi trabajo como mesero en Karal, un
          restaurante de cocina peruana, donde trabajo los jueves, viernes y fines de semana.
        </p>
      </div>
    </div>

    <div class="sobremi-tarjeta" (click)="toggleCard($event)">
      <h3 class="letra-subtitulos">Personalidad</h3>
      <p class="mensaje-click">Haz clic para ver más</p>
      <div class="contenido-oculto">
        <p>
          Me considero una persona introvertida; me toma algo de tiempo soltarme a hablar con los demás y, sobre todo,
          llegar a confiar. Aunque me gusta salir, prefiero hacerlo solo con mi novia o con mis amigos más cercanos; de
          resto, la
          verdad prefiero estar en casa. Soy alguien muy tranquilo y bastante paciente, de hecho, hay muy pocas cosas
          que me logran enojar. A veces me suelo frustrar con facilidad, pero siempre intento controlar eso para no
          estancarme y seguir adelante. Además, soy muy consciente de mis errores y trato de ser siempre lo más
          honesto posible conmigo mismo.
        </p>
      </div>
    </div>

    <div class="sobremi-tarjeta" (click)="toggleCard($event)">
      <h3 class="letra-subtitulos">¿Que me gusta hacer?</h3>
      <p class="mensaje-click">Haz clic para ver más</p>
      <div class="contenido-oculto">
        <p>
          Me apasiona la música, el cine y los videojuegos. Hubo un tiempo en el que me gustó mucho tocar instrumentos
          y alcancé a aprender algo de guitarra y piano. En cuanto a géneros, escucho casi de todo, desde rock y rap
          hasta electrónica; lo único que no me gusta es el reguetón. Mi banda favorita es Twenty One Pilots; me
          encanta que su música no se defina por un solo género, sino que mezclan un poco de todo.

          En el cine también soy de gustos variados. Veo desde ciencia ficción como Interstellar o Blade Runner, hasta
          dramas crudos como Whiplash.

          Por el lado de los videojuegos, en el ámbito competitivo me gusta mucho Rocket League y también juego
          Valorant o Counter-Strike. En cuanto a juegos de historia, Red Dead Redemption 2 es de lo mejor que he
          probado. También disfruté mucho God of War (2018) y Doom (2016). Me gusta que los juegos sean desafiantes.
        </p>
      </div>
    </div>

    <div class="sobremi-tarjeta" (click)="toggleCard($event)">
      <h3 class="letra-subtitulos">¿Por qué decidí estudiar ingeniería de sistemas?</h3>
      <p class="mensaje-click">Haz clic para ver más</p>
      <div class="contenido-oculto">
        <p>
          La verdad, todo esto fue una pasión desde pequeño. Todo comenzó con los videojuegos; me encantaba jugar y me
          generaba mucha curiosidad lo que había detrás de ellos. El punto de quiebre fue cuando armé mi primer PC
          desde cero con la ayuda de mi primo.

          En ese proceso de ir mejorando mi computador, empecé a descubrir otras cosas, canales de divulgación
          tecnológica y plataformas como Platzi, donde hice mi primer curso de programación básica (HTML, CSS y
          JavaScript).

          Finalmente, descubrí la ciberseguridad. Cuando vi de qué trataba y la gran importancia que tiene hoy en día,
          supe que ese era el camino para mi carrera. Me fascinaron temas como los ataques DDoS, los zero-days, el
          análisis de malware y las botnets.

          Todo este recorrido me llevó a tomar la decisión de estudiar Ingeniería de Sistemas en la Universidad El
          Bosque. Ya en tercer semestre de ingeniería.
        </p>
      </div>
    </div>
  </div>
</section>
