<section class="section-metas" id="mis-metas">
  <h2>Mis Metas</h2>

  <div class="timeline">

    <div class="meta-item">
      <div class="meta-card">
        <img
          src="https://cdn.prod.website-files.com/637527824473dd1b12672280/637527824473dd3c7a67237e_egresados%20ingenieria%20industrial.jpg"
          alt="Graduación">
        <div class="meta-texto">
          <h3>Graduarme como Ingeniero</h3>
          <p>Actualmente estoy en tercer semestre en la Universidad El Bosque y mi objetivo es aprovechar el enfoque
            del pensum para dominar las bases de la tecnología. Quiero cerrar este ciclo que inició por curiosidad y
            llevarlo al siguiente nivel, convirtiéndome en un ingeniero capaz de enfrentar retos técnicos reales.
          </p>
        </div>
      </div>
    </div>

    <div class="meta-item">
      <div class="meta-card">
        <img src="https://cdn.amxinfra.com/clarosports/images/2025/09/google-1-154202-1024x576.jpg"
             alt="Desarrollador">
        <div class="meta-texto">
          <h3>Trabajar como Desarrollador</h3>
          <p>Una de mis metas más grandes es llegar a trabajar como desarrollador en una empresa de alto nivel, como
            Google. Me motiva mucho el reto de estar en un entorno así, rodeado de gente que sabe muchísimo, para
            aprender de ellos y ver de cerca cómo se crea la tecnología que usamos todos los días.</p>
        </div>
      </div>
    </div>

    <div class="meta-item">
      <div class="meta-card">
        <img
          src="https://res.cloudinary.com/momentum-media-group-pty-ltd/image/upload/v1676515063/Cyber%20Security/white-hat-hacker-csc_oxqe7b.jpg"
          alt="Ciberseguridad">
        <div class="meta-texto">
          <h3>Especializarme en Ciberseguridad</h3>
          <p>Desde que descubrí temas como los ataques DDoS y el análisis de malware, supe que este es el campo donde
            quiero estar. Mi meta es profundizar en la seguridad informática, ser alguien que entienda y proteja
            sistemas complejos. Me motiva la idea de trabajar en algo tan crítico y desafiante, donde el aprendizaje
            es constante.</p>
        </div>
      </div>
    </div>

    <div class="meta-item">
      <div class="meta-card">
        <img src="https://www.gsmpro.cl/cdn/shop/articles/Nvidia-GeForce-RTX-5090-rumores.jpg?v=1721061793"
             alt="Setup">
        <div class="meta-texto">
          <h3>Mejorar mi Setup</h3>
          <p>Una de mis metas personales es mejorar mi pc. Aunque mi Ryzen 3 y la GTX 1660 han aguantado para jugar
            Red Dead, quiero actualizar mi computadora con lo mejor de lo mejor para jugar lo que sea con toda la
            calidad que se merecen.</p>
        </div>
      </div>
    </div>

  </div>
</section>
